extends layout

block content
  h1 Train Schedule
  p Select your train below to see its current schedule.
<<<<<<< HEAD
  #wrapper
    #trainList we are tried but did not get tickets
=======
  #wrapper class for calling internal wrapper class objects into main method
    #trainList
>>>>>>> 39829f82ea8a52d75189fe30c257a13963f00e73
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
